**/*.log
**/*.diff
**/build
**/tmp/
test/*.txt
out/prev/*
out/*.txt
dev/toadd/*
dev/other/*
_work
.*
*autogen.lst
*auto-replace.txt
.classpath
.project
/build_test/
/build_
*.bz2
dict_corp_vis.txt.roots*
